* {
  text-align: center;
}
html {
  height: 100%;
}
.mySlides{display:none}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  text-align: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
}
.content {
  padding: 16px;
  flex: 1;
}
.image-slider {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  transition: 2s ease-in-out;

}
.headerButtons button {
  background-color: #3C0680;
  border: 1px black;
  border-style: solid;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
.headerButtons button:not(:last-child) {
  border-right: none;
}
.headerButtons:after {
  content: "";
  clear: both;
  display: table;
}
.headerButtons button:hover {
  background-color: #4B08A1;
}
.footer {
  text-align: left;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  text-align: center;
  color: white;
  margin-top: auto;
}
.email {
  color: white;
}
.headerButtons {
  padding-right: 30px;
}
.title {}
.take-a-tour {}
.tour-listing {}
.search-function {
  padding-top: 130px;
  width: calc(100%-80px);
}
.autocomplete {
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 50%;
  height: 40px;
  font-size: 16px;
  text-align: left;
  padding: 6px;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 17px;
}
#auto-results ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#auto-results li:hover {
  background-color: rgb(195, 195, 195);
}
