html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

/* Header Styling */
    .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    }

    .content {
    padding: 16px;
    }

    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    }

    .sticky + .content {
    padding-top: 102px;
    }

/* Header Buttons Styling */
    .headerButtons button {
        background-color: #3C0680; /*purple background*/
        border: 1px black;
        color: white; /*white text*/
        padding: 10px 24px; /*padding*/
        cursor: pointer; /*pointer/hand icon*/
        float: left; /* float buttons side by side*/
    }

    .headerButtons button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Clear floats (clearfix hack) */
    .headerButtons:after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Add a background color on hover */
    .headerButtons button:hover {
      background-color: #4B08A1;
    }

.headerButtons 
.title {}
.take-a-tour {}
.tour-listing {}
.search-function {}